<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/DuplexService/ws" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDuplexService" contract="DuplexService.IDuplexService"
                name="WSDualHttpBinding_IDuplexService" />
        </client>
    </system.serviceModel>
</configuration>